$color5:#DD6E5B;
$color6: #CE5B79;
.send {
    background-color: #CE5B79;
    background-image: linear-gradient( to right, $color5, $color6);
    font-size: 16px;
    font-style: bold;
}

.v1 {
    border-left: 1px solid #c1bdbd;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 36%;
}

.label {
    font-size: 10px;
    color: #EB6F5A;
    font-weight: medium;
}

.form {
    margin-left: 40px;
}
