<div class="container mt-4">
    <div class="row">

        <div class="col-6 col-md-2 mb-2">
            <img class="mw-100" src="../../../assets/img/brand icons/Group 24934.svg" alt="">
        </div>


        <div class="col-6 col-md-2 mb-2">
            <img class="mw-100" src="../../../assets/img/brand icons/Group 24931.svg" alt="">
        </div>


        <div class="col-6 col-md-2 mb-2">
            <img class="mw-100" src="../../../assets/img/brand icons/Group 24932.svg" alt="">
        </div>


        <div class="col-6 col-md-2 mb-2">
            <img class="mw-100" src="../../../assets/img/brand icons/Group 24931.svg" alt="">
        </div>



        <div class="col-6 col-md-2">
            <img class="mw-100" src="../../../assets/img/brand icons/Group 24931.svg" alt="">

        </div>



        <div class="col-6 col-md-2">
            <img class="mw-100" src="../../../assets/img/brand icons/Group 24935.svg" alt="">
        </div>





    </div>
</div>
