<div class="container">
    <div class="text-start header mt-3">
        My orders (3 orders)</div>
    <div class="row mt-4 d-flex justify-content-center align-items-center">
        <div class="col-6 col-md-2 d-flex justify-content-center d-md-block justify-content-ms-start mb-3 mb-md-0">
            <img src="../../../assets/img/my-orders icons/Group 24957.svg" alt="">
        </div>
        <div class="col-6 col-md-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="delivered">Delivered</div>
                <div class="shipment">4 shipments</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Order NO.</li>
                <li class="list-group-item">4382</li>
                <li class="list-group-item">Order Date</li>
                <li class="list-group-item">10 Jul, 2020</li>
                <li class="list-group-item">Price</li>
                <li class="list-group-item">250 USD</li>
            </ul>
        </div>

        <div class="col-12 col-md-2">
            <div class="d-flex flex-column justify-content-center align-items-center mt-2">
                <div class="text">View order</div>
                <div class="text">Rate order</div>
            </div>

        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="col-6 col-md-2 d-flex justify-content-center d-md-block justify-content-ms-start mb-3 mb-md-0">
            <img src="../../../assets/img/my-orders icons/Group 24957.svg" alt="">
        </div>
        <div class="col-6 col-md-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="cancelled">Cancelled</div>
                <div class="shipment">4 shipments</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Order NO.</li>
                <li class="list-group-item">4382</li>
                <li class="list-group-item">Order Date</li>
                <li class="list-group-item">10 Jul, 2020</li>
                <li class="list-group-item">Price</li>
                <li class="list-group-item">250 USD</li>
            </ul>



        </div>
        <div class="col-12 col-md-2">
            <div class="d-flex flex-column justify-content-center align-items-center mt-2">
                <div class="text mb-2">View order</div>
                <div class="text">Rate order</div>
            </div>
        </div>

    </div>

    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="col-6 col-md-2 d-flex justify-content-center d-md-block justify-content-ms-start mb-3 mb-md-0">
            <img src="../../../assets/img/my-orders icons/Group 24957.svg" alt="">
        </div>


        <div class="col-6 col-md-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="in-progress">In Progress</div>
                <div class="shipment">4 shipments</div>
            </div>
        </div>
        <div class="col-12 col-md-6">

            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Order NO.</li>
                <li class="list-group-item">4382</li>
                <li class="list-group-item">Order Date</li>
                <li class="list-group-item">10 Jul, 2020</li>
                <li class="list-group-item">Price</li>
                <li class="list-group-item">250 USD</li>
            </ul>

        </div>
        <div class="col-12 col-md-2">
            <div class="d-flex flex-column justify-content-center align-items-center mt-2">
                <div class="text mb-2">View order</div>
                <div class="text">Rate order</div>
            </div>
        </div>
    </div>
</div>
