.header {
    font-size: 32px;
    font-weight: bold;
}

.delivered {
    color: #58E8B1;
    font-size: 12px;
    font-weight: bold;
}

.shipment {
    font-size: 20px;
    font-weight: bold;
}

.cancelled {
    @extend .delivered;
    color: #FF2F3A;
}

.in-progress {
    @extend .delivered;
    color: #FCA75F;
}

.text {
    font-weight: bold;
    font-size: 16px;
}
