$color1:#7743DA;
$color2: #FF2F3A;
$color3:#D65167;
$color4:#FFCE00;
$font-color: #F1F1F1;
$font-weight: Regular;
$background:transparent;
nav {
    background-color: #1F1F1F;
}

.text-color {
    font-weight: Regular;
    font-size: 16px;
    color: $font-color;
}

.search {
    background: $background;
}

::placeholder {
    color: $font-color;
    font-weight: Regular;
}

.hr {
    color: $font-color;
}

.searh-wrapper {
    max-width: 500px !important;
    width: 100%;
}

.row-border-bottom {
    border-bottom: 0.5px solid #CED4DA;
}

.icon {
    background: #ffffff3b;
    border-radius: 50%;
    border-radius: 50%;
    padding: 4px;
}

// .border-bottom {
//     border: 0.5px solid #dee2e6 !important;
// }
.text {
    color: $font-color;
    font-weight: Regular;
}

.item {
    margin-left: 20px
}

@media (max-width:576px) {
    .hidden-sm {
        display: none
    }
}

.navbar-light .navbar-toggler {
    border: none;
    color: white;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0px;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: none
}

nav {
    background-color: #1F1F1F;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media (min-width: 992px) {
    .list-group-horizontal-lg>.list-group-item {
        border-bottom: none;
    }
}
