<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container">
        <a class="navbar-brand d-lg-none d-block" href="#">
            <img src="../../../assets/img/Group 19944.svg" alt="" routerLink="/">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="row navbar-nav w-100 mt-2  d-flex justify-content-end">
                <div class="d-flex align-items-center">
                    <a class="d-lg-block d-none" routerLink="/">
                        <img src="../../../assets/img/Group 19944.svg" alt="" routerLink="/">
                    </a>
                    <div class="col-md-4 col-12 offset-md-2 my-2">
                        <input type="search" class="form-control search rounded-pill h-3" placeholder="Search anything">
                    </div>
                    <div class="col-md-3 col-12 offset-md-2 d-none d-lg-block">
                        <img class="icon me-2" src="../../../assets/img/Group 20168.png" alt="">
                        <img class="icon me-2 p-2" src="../../../assets/img/Group 19958.png" alt="">
                        <img class="icon me-2" src="../../../assets/Group 199500.png" alt="">
                        <img class="icon" src="../../../assets/img/Group 19951.png" alt="">

                    </div>
                </div>
                <div class="row my-2">
                    <div class="border-bottom ms-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12 ">
                        <ul class="list-group list-group-horizontal-lg">
                            <li class="list-group-item bg-transparent text-white me-3 border-bottom py-2">
                                <a class="text-color text-decoration-none" aria-current="page" routerLink="/">Home</a>
                            </li>
                            <li class="list-group-item bg-transparent border-bottom me-3 py-2">
                                <a class="text-color text-decoration-none " routerLink="/brands">Brands</a>
                            </li>
                            <li class="list-group-item bg-transparent border-bottom me-3 py-2">
                                <a class="text-color text-decoration-none " routerLink="/wish-list">IT solutions</a>
                            </li>
                            <li class="list-group-item bg-transparent border-bottom me-3 py-2">
                                <a class="text-color text-decoration-none" routerLink="/result">Hardware</a>

                            </li>
                            <li class="list-group-item bg-transparent border-bottom me-3 py-2">
                                <span class=" text-color">|</span>
                                <a class="text-color text-decoration-none " routerLink="/contact-us">
                                     Contact us</a>
                            </li>
                            <li class="list-group-item bg-transparent border-bottom py-2">

                                <a class="text-color text-decoration-none " routerLink="/about-us">
                                    <span class=""></span> About us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 offset-lg-3 col-12">
                        <ul class="list-group list-group-horizontal-lg border-0">
                            <li class="list-group-item bg-transparent text-white me-3 border-bottom py-2">
                                <a routerLink="/my-orders" class="text-decoration-none">
                                    <div class="d-flex align-items-center justify-content-right">
                                        <img src="../../../assets/img/cloud.svg" alt="">
                                        <div class="text">Cloud cart</div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-group-item bg-transparent text-white me-3 py-2">
                                <a routerLink="/my-orders" class="text-decoration-none">
                                    <div class="d-flex align-items-center justify-content-right">
                                        <img src="../../../assets/img/Group 20163.svg" alt="">
                                        <div class="text">Track order</div>

                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>

        </div>
    </div>
</nav>
