.header {
    font-size: 32px;
    font-weight: bold;
}

.card-img {
    max-width: 100%;
    width: 177px;
    height: 134px;
}

.card-text {
    font-size: 20px;
}

.card {
    max-width: 100%;
    width: 312px;
    height: 434px;
}